<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.energyzer2"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.energyzer2.Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.energyzer2.Einrichtung"
            android:label="@string/title_activity_einrichtung" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.energyzer2.Homescreen"
            android:label="@string/title_activity_homescreen" >
        </activity>
        <activity
            android:name="com.example.energyzer2.Optionen"
            android:label="@string/title_activity_optionen"
            android:parentActivityName="com.example.energyzer2.Homescreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.energyzer2.Homescreen" />
        </activity>
        <activity
            android:name="com.example.energyzer2.Info"
            android:label="@string/title_activity_info" >
        </activity>
        <activity
            android:name="com.example.energyzer2.Raeume"
            android:label="@string/title_activity_raeume" >
        </activity>
    </application>

</manifest>
